:root {
    --cascaades-calendar-accent: #ff6b9d;
    --schedule-color-bg: rgba(255, 255, 0, 0.1);
    --schedule-color-accent: rgb(89 89 0);
    --error-color-accent: rgb(89 25 0);

    --assignment-color-accent: #4d3636;
    --classwork-color-accent: #374359;
    --project-color-accent: #395241;
}

.view-content {
    container-type: inline-size;
    container-name: view-container;
}

.view-content:has(.calendar-view) {
    padding: 0;
}

.workspace-tab-header[data-type="calendar-view"] .workspace-tab-header-inner-icon {
    color: var(--cascaades-calendar-accent) !important;
}

.calendar-ribbon-icon {
    color: var(--cascaades-calendar-accent);

    &:hover, &:active {
        color: var(--cascaades-calendar-accent) !important;
    }
}

.calendar-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    min-width: 950px;
    overflow: hidden;
    overflow-x: auto;

    --calendar-table-border: 1px solid var(--background-modifier-border);
}

.calendar-header {
    z-index: 10;
    padding: 0 var(--size-4-12);
    box-sizing: border-box;
}

.calendar-banner {
    display: flex;
    justify-content: space-between;
    padding: var(--size-4-3) var(--size-4-1);
}

.to-today-btn {
    cursor: pointer;
}

.calendar-labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-table {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 0 var(--size-4-12) var(--size-4-8);
}

.calendar-month-section {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    margin: 0;
    padding: 0;
}

.calendar-label {
    color: var(--text-faint);
    border-bottom: var(--calendar-table-border);
    text-align: center;
    padding: var(--size-4-1) var(--size-4-2);
}

.calendar-day {
    border: var(--calendar-table-border);
    border-top: none;
    border-right: none;

    padding: var(--size-4-1);
}

.calendar-day.drop-target {
    box-shadow: inset 0 0 var(--size-4-2) var(--cascaades-calendar-accent);
}

.calendar-day:nth-child(7n) {
    border-right: var(--calendar-table-border);
    background-color: var(--background-primary-alt);
}

.calendar-day:nth-child(7n + 1) {
    background-color: var(--background-primary-alt);
}

@container view-container (max-width: 1400px) {
    .calendar-month-section {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .calendar-day:nth-child(7n), .calendar-day:nth-child(7n + 1) {
        display: none;
    }

    .calendar-day:nth-child(7n - 1) {
        border-right: var(--calendar-table-border);
    }
}

.day-header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 var(--size-4-1) var(--size-4-1) 0;
}

.day-type {
    font-size: .8em;
    color: var(--text-faint);
    padding: var(--size-2-1) var(--size-2-2);
    line-height: 1;
    white-space: nowrap;
    border-radius: var(--radius-s);
    text-align: center;
}

.day-container {
    font-size: .9em;
}

/* ALL EXTRANEOUS */

.calendar-day.day_off {
    background: repeating-linear-gradient(
            315deg,
            transparent,
            transparent 8px,
            var(--schedule-color-bg) 8px,
            var(--schedule-color-bg) 12px
    );

    .day-type {
        background: var(--schedule-color-accent);
        color: var(--text-normal);
    }
}

.calendar-day.early_dismissal {
    background: none;

    .day-type {
        background: var(--schedule-color-accent);
        color: var(--text-normal);
    }
}

.calendar-day.early_dismissal_check {
    background: none;

    .day-type {
        background: var(--error-color-accent);
        color: var(--text-normal);
    }
}

/* END EXTRANEOUS */

.day-number-container {
    color: var(--text-faint);
    &.this-month { color: var(--text-muted); }

    z-index: 1;

    transition: color .3s ease;

    text-align: right;

    &.today{
        .day-number {
            color: var(--text-on-accent);
            position: relative;
            margin-left: var(--size-2-2);
        }

        .day-number::before {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            content: "";
            z-index: -4;

            width: 1em;
            height: 1em;
            border-radius: 50%;
            padding: var(--size-2-1);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: var(--color-accent);
        }
    }
}

.day-options {
    color: var(--text-faint);

    display: flex;
    align-items: center;
    gap: .2em;

    position: relative;
}

.calendar-day hr {
    margin: var(--size-4-1) auto;
    width: 80%;
    border-radius: var(--radius-s);
    opacity: 0;
    display: none;

    &.above-shown {
        display: block;
    }

    &.hover-shown {
        display: block;
    }

    &.above-shown.bottom-shown {
        opacity: 1;
    }
}

a.commitment {
    color: var(--text-accent);
    text-decoration: none;

    &:hover {
        color: var(--text-accent-hover);
        text-decoration: underline;
    }
}

.commitment {
    display: block;
    background-color: var(--background-secondary-alt);
    padding: var(--size-4-1) var(--size-4-2);
    border-radius: var(--radius-m);
    margin-bottom: var(--size-4-1);

    touch-action: none;
}

/* ALL COLORED */

.day-container .commitment.role-assignment {
    background: var(--assignment-color-accent);
}

.day-container .commitment.role-classwork {
    background: var(--classwork-color-accent);
}

.day-container .commitment.role-project {
    background: var(--project-color-accent);
}

/* END COLORED */

.commitment.dragging {
    font-size: .9em;
}

.commitment.new-commitment {
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-m);
    background: none;
    border: 1px dashed var(--background-modifier-border);
    text-align: center;
    color: var(--text-faint);
    cursor: pointer;
    opacity: 0;

    margin-bottom: 0;

    &:hover {
        color: var(--text-muted);
        border: 1px dashed var(--background-modifier-border-hover);
    }
}

.commitment .commitment-start-time {
    display: block;
    font-size: .75em;
    opacity: .6;
}

.calendar-day:hover {
    hr.above-shown, hr.hover-shown {
        display: block;
        opacity: 1;
    }

    .day-container > .commitment.new-commitment {
        opacity: 1;
    }
}

.option-down .calendar-day {
    .schedule-block.empty-block {
        display: block;

        /* for animation */
        /*padding: 0;*/
        /*height: 2em;*/
    }

    hr.hover-shown.bottom-shown {
        opacity: 1;
    }
}

.schedule-block .commitment {
    background-color: var(--background-secondary-alt);
    padding: var(--size-2-1) var(--size-2-3);
    border-radius: var(--radius-s);

    &.new-commitment {
        padding: 0 var(--size-2-2);
        border-radius: var(--radius-s);
        background: none;
        opacity: 0;
        font-size: .8em;
    }
}

.schedule-block.drop-target {
    box-shadow: inset 0 0 4px var(--cascaades-calendar-accent);
}

.schedule-block:not(.empty-block) {
    background-color: var(--background-secondary);
    padding: var(--size-2-2);
    border-radius: var(--radius-m);
    border: 1px solid var(--background-modifier-border);
    cursor: alias;

    margin-bottom: var(--size-4-1);

    &.now {
        box-shadow: 0 0 4px var(--color-accent);
        border: 1px solid var(--color-accent);

        &.drop-target {
            box-shadow: 0 0 4px var(--color-accent), inset 0 0 4px var(--cascaades-calendar-accent);
        }
    }

    .block-header {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--size-4-2) var(--size-2-2);
        color: var(--text-muted);
        font-size: .8em;
    }

    &:hover .new-commitment {
        opacity: 1;
    }
}

.schedule-block.empty-block {
    display: none;

    .block-header {
        display: flex;
        justify-content: space-between;
        color: var(--text-faint);
    }

    &:hover {
        .block-header {
            color: var(--text-muted);
        }

        border: 1px dashed var(--background-modifier-border-hover);
    }

    cursor: pointer;

    border: 1px dashed var(--background-modifier-border);
    padding: var(--size-4-1) var(--size-4-2);
    box-sizing: border-box;
    border-radius: var(--radius-m);

    margin-bottom: var(--size-4-1);

    /* for animation */
    /*height: 0;*/
    /*overflow: hidden;*/
    /*transition: height .3s ease;*/
}

.workspace-split.mod-vertical > * {
    &.calendar-plugin-side-leaf {
        width: 30%;
        flex-grow: 0.5;
        /*flex: 0 0 auto !important;*/
    }
}

.task-button.circular-button {
    --track-color: var(--color-base-40);
    --progress-color: #4f4;

    background: var(--color-base-25);
    overflow: hidden;

    padding: var(--size-4-1);
    border-radius: var(--radius-s);
    box-sizing: content-box;

    height: 1.2em;
    aspect-ratio: 1;

    cursor: pointer;
    opacity: 0;

    transition: scale .2s ease;

    &:hover {
        scale: 1.2;
    }
}

.task-button.filled-button {
    --progress-color: #2f752f;

    background: var(--color-base-30);
    overflow: hidden;

    border-radius: var(--radius-s);
    box-sizing: content-box;

    padding: 0;

    height: calc(1.2em + var(--size-4-1));
    aspect-ratio: 1;

    cursor: pointer;
    opacity: 0;

    transition: scale .2s ease;

    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:hover {
        scale: 1.2;
    }

    .task-button-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1.2em;
    }

    .task-button-fill {
        width: 100%;
        background-color: var(--progress-color);
    }
}

.calendar-day:hover {
    .task-button {
        opacity: 1;
    }
}
