:root {
    --cascaades-task-manager-accent: #6bfff3;
    --schedule-color-bg: rgba(255, 255, 0, 0.1);
    --schedule-color-accent: rgb(89 89 0);
    --error-color-accent: rgb(89 25 0);

    --assignment-color-accent: #4d3636;
    --classwork-color-accent: #374359;
    --project-color-accent: #395241;
}

.view-content {
    container-type: inline-size;
    container-name: view-container;
}

.view-content:has(.calendar-view) {
    padding: 0;
}

.workspace-tab-header[data-type="task-manager-view"] .workspace-tab-header-inner-icon {
    color: var(--cascaades-task-manager-accent) !important;
}

.task-manager-ribbon-icon {
    color: var(--cascaades-task-manager-accent);

    &:hover, &:active {
        color: var(--cascaades-task-manager-accent) !important;
    }
}

.task-manager-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    max-width: var(--file-line-width);
    margin: auto;

    --calendar-table-border: 1px solid var(--background-modifier-border);
}

.cm-sizer:has(.task-manager-view-inline) .metadata-container {
    margin-block-end: 1rem;

    &.is-collapsed {
        margin-block-end: 0;
    }
}

.task-manager-view-inline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    max-width: var(--file-line-width);
    margin: auto;

    --calendar-table-border: 1px solid var(--background-modifier-border);

    margin-block-end: 2rem;

    background: var(--background-primary-alt);
    padding: var(--size-4-3) var(--size-4-5);
    border-radius: var(--radius-l);
}

h2 {
    margin: 0;
    line-height: 1.2;
}
